@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.converter {
     position: fixed;
     top: 50vh;
     left: 50vw;
     transform: translate(-50%, -50%);
     text-align: center;
     font-family: 'Poppins';
     border: 2px solid black;
     padding: 15px;
     cursor: default;
}

p {
     font-size: 40px;
     margin-bottom: 10px;
}

button {
     border: 1px solid black;
     font-size: 17px;
     padding: 5px;
     background-color: transparent;
     margin: 3px;
     transition: .4s;
     cursor: pointer;
}

button:hover {
     background: black;
     color: white;
}

input {
     border: 1px solid black;
     padding: 3px;
     text-align: center;
     font-size: 18px;
     margin-bottom: 10px;
}

.content {
     font-size: 30px;
}